
<!-- Start with the header -->
<section class="header" id="header">



    <a class="header__github" target="_blank" href="https://github.com/youngmonk"><i class="fa fa-github"></i><span class="xs-hidden">Our Github</span></a>

    <!-- Main Head Title -->
    <div class="header__content">    
      <a href="http://www.gozoomo.com">
        <img src="http://static.gozoomo.com/static/home/img/logo-zoomo-white.svg" alt="Zoomo - Your Personal Used Car Expert" title="Zoomo - Your Personal Used Car Expert" class="header__logo">
      </a>
      {% if site.title %}<h1 class="header__title"><a href="http://tech.gozoomo.com/">{{site.title}}</a></h1>{% endif %}
      {% if site.smalltalk %}<p class="header__subtitle">{{ site.smalltalk }}</p>{% endif %}
    </div>




</section>










