$background-path: url('../img/bg.jpeg');

$header-font-family: 'proxima-nova', sans-serif;

$header-font-color:#fff;

//post loop
$post-title-size: 1.6em;
$post-title-weight:900;
$post-title-color:#777;

//custom variables
$body-font: 'proxima-nova',sans-serif;
$mono-font: monospace;

//colours
$c-zoomo-red: #ff5151;
$c-green: #7CB342;
$c-theme: #FE7564;
$c-yellow: #FAAB32;
$c-blue: #6489FE;
$c-facebook-blue: #3A5795;
$c-twitter-blue: #55acee; //picked directly from site